@model IEnumerable<HotelManagementSystems.Models.RoomAmentities>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Specific Room Amenities</h1>
<h1>Total count of Room Amenities:@Html.ViewData.Model.Where(m => m.Amentities != null).Count()</h1>




<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amentities)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amentities.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.Name)
                </td>
                <td>

                    @Html.ActionLink("Delete", "Delete", new { item.AmentitiesID, item.RoomID })
                </td>
            </tr>
        }
    </tbody>
</table>

